<div class="main">
  <div class="line">
    <div class="item" id='pad1' (click)='pad1()'></div>
    <div class="item" id='pad2' (click)='pad2()'></div>
    <div class="item" id='pad3' (click)='pad3()'></div>
  </div>
  <div class="line">
    <div class="item" id='pad4' (click)='pad4()'></div>
    <div class="item" id='pad5' (click)='pad5()'></div>
    <div class="item" id='pad6' (click)='pad6()'></div>
  </div>
<div class="line">
  <div class="item" id='pad7' (click)='pad7()'></div>
  <div class="item" id='pad8' (click)='pad8()'></div>
  <div class="item" id='pad9' (click)='pad9()'></div>
</div>
<div class="line">
  <div class="item" id='pad10' (click)='pad10()'></div>
  <div class="item" id='pad11' (click)='pad11()'></div>
  <div class="item" id='pad12' (click)='pad12()'></div>
</div>
</div>